In [1]:
import pandas as pd

In [2]:
import nltk

In [3]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\mayur\AppData\Roaming\nltk_data...

True

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
sia = SentimentIntensityAnalyzer()

In [6]:
a1 = "The football is the best game i have ever watched with joy and fun"

In [7]:
sia.polarity_scores(a1)

{'neg': 0.0, 'neu': 0.469, 'pos': 0.531, 'compound': 0.9062}

In [16]:
a2 = "Cricket  is worst game to be played"

In [17]:
sia.polarity_scores(a2)

{'neg': 0.357, 'neu': 0.435, 'pos': 0.209, 'compound': -0.4019}

In [18]:
df = pd.read_csv("C:/Users/mayur/Downloads/archive (10)/amazon_alexa.tsv",sep='\t')

In [19]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [30]:
df.dropna(inplace=True)

In [32]:
df.reset_index(inplace=True)

In [33]:
sia.polarity_scores(df['verified_reviews'][0])

{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'compound': 0.6696}

In [34]:
df['scores'] = df['verified_reviews'].apply(sia.polarity_scores)

In [35]:
df.head()

,index,rating,date,variation,verified_reviews,feedback,scores
0,0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,"{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'comp..."
1,1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,"{'neg': 0.0, 'neu': 0.193, 'pos': 0.807, 'comp..."
2,2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,"{'neg': 0.102, 'neu': 0.784, 'pos': 0.114, 'co..."
3,3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,"{'neg': 0.0, 'neu': 0.617, 'pos': 0.383, 'comp..."
4,4,5,31-Jul-18,Charcoal Fabric,Music,1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [40]:
df1= df[["rating","verified_reviews","scores"]]

In [41]:
df1.head()

,rating,verified_reviews,scores
0,5,Love my Echo!,"{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'comp..."
1,5,Loved it!,"{'neg': 0.0, 'neu': 0.193, 'pos': 0.807, 'comp..."
2,4,"Sometimes while playing a game, you can answer...","{'neg': 0.102, 'neu': 0.784, 'pos': 0.114, 'co..."
3,5,I have had a lot of fun with this thing. My 4 ...,"{'neg': 0.0, 'neu': 0.617, 'pos': 0.383, 'comp..."
4,5,Music,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [51]:
for i in df['verified_reviews']:
    aa = sia.polarity_scores(i)['compound']
    df['new']=aa

In [55]:
polarity = [round(sia.polarity_scores(i)['compound'], 2) for i in df1['verified_reviews']]
df1['sentiment_score'] = polarity
df1.head()

<ipython-input-55-cdb1f629f8cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sentiment_score'] = polarity

,rating,verified_reviews,scores,sentiment_score
0,5,Love my Echo!,"{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'comp...",0.67
1,5,Loved it!,"{'neg': 0.0, 'neu': 0.193, 'pos': 0.807, 'comp...",0.64
2,4,"Sometimes while playing a game, you can answer...","{'neg': 0.102, 'neu': 0.784, 'pos': 0.114, 'co...",-0.13
3,5,I have had a lot of fun with this thing. My 4 ...,"{'neg': 0.0, 'neu': 0.617, 'pos': 0.383, 'comp...",0.92
4,5,Music,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00

In [64]:
df1['pos_neg_scores']= df1['sentiment_score'].apply(lambda sentiment_score: 'pos' if sentiment_score > 0 else 'neg')

<ipython-input-64-7a59379c4f15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['pos_score']= df1['sentiment_score'].apply(lambda sentiment_score: 'pos' if sentiment_score > 0 else 'neg')

In [65]:
df1.head()

,rating,verified_reviews,scores,sentiment_score,pos_score
0,5,Love my Echo!,"{'neg': 0.0, 'neu': 0.308, 'pos': 0.692, 'comp...",0.67,pos
1,5,Loved it!,"{'neg': 0.0, 'neu': 0.193, 'pos': 0.807, 'comp...",0.64,pos
2,4,"Sometimes while playing a game, you can answer...","{'neg': 0.102, 'neu': 0.784, 'pos': 0.114, 'co...",-0.13,neg
3,5,I have had a lot of fun with this thing. My 4 ...,"{'neg': 0.0, 'neu': 0.617, 'pos': 0.383, 'comp...",0.92,pos
4,5,Music,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,neg