In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.metrics import accuracy_score,r2_score

import seaborn as sns

In [34]:
sample=pd.read_excel(r"C:\Users\mayur\Downloads\Sample (1).xlsx")

In [35]:
sample.head()

,CampaignID,ProspectID,productId,Assetclass.Equity,Assetclass.FixedIncome,Assetclass.Equity-y,BD Market Cap.101M to 250 M,BD Market Cap 101 M to 500M,BD Market Cap 251 M to 500 M,BD Market Cap 501 m to 750 M,...,State.Texas,State.Utah,State.Vermount,State. Virgin Islands,State.Virginia,State.Washington,State.Wast virginia,State.Wisconsin,State.Wyoming,completedSale
0,C1,P1,PR1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Yes
1,C1,P4,PR1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,No
2,C1,P6,PR1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Yes
3,C1,P9,PR1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,No
4,C1,P19,PR2,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Yes

In [36]:

sample.columns

Index(['CampaignID', 'ProspectID', 'productId ', 'Assetclass.Equity',
       'Assetclass.FixedIncome', 'Assetclass.Equity-y',
       'BD Market Cap.101M to 250 M', 'BD Market Cap 101 M to 500M',
       'BD Market Cap 251 M to 500 M', 'BD Market Cap 501 m to 750 M',
       ...
       'State.Texas', 'State.Utah', 'State.Vermount', 'State. Virgin Islands',
       'State.Virginia', 'State.Washington', 'State.Wast virginia',
       'State.Wisconsin', 'State.Wyoming', 'completedSale'],
      dtype='object', length=492)

In [5]:
sample.isnull().sum()

CampaignID                0
ProspectID                0
productId                 0
Assetclass.Equity         0
Assetclass.FixedIncome    0
                         ..
State.Washington          0
State.Wast virginia       0
State.Wisconsin           0
State.Wyoming             0
completedSale             0
Length: 492, dtype: int64

In [37]:
sample.dropna(how = 'any')

,CampaignID,ProspectID,productId,Assetclass.Equity,Assetclass.FixedIncome,Assetclass.Equity-y,BD Market Cap.101M to 250 M,BD Market Cap 101 M to 500M,BD Market Cap 251 M to 500 M,BD Market Cap 501 m to 750 M,...,State.Texas,State.Utah,State.Vermount,State. Virgin Islands,State.Virginia,State.Washington,State.Wast virginia,State.Wisconsin,State.Wyoming,completedSale
0,C1,P1,PR1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Yes
1,C1,P4,PR1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,No
2,C1,P6,PR1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Yes
3,C1,P9,PR1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,No
4,C1,P19,PR2,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,C5,P6,PR19,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,No
196,C5,P4,PR13,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,No
197,C5,P4,PR16,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Yes
198,C5,P6,PR24,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,No
199,C7,P15,PR5,1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Yes

In [38]:
sample.shape

(200, 492)

In [39]:
def trans(x):
    if x=='Yes':
        return 1
    if x=='No':
        return 0

In [40]:
sample['New']=sample['completedSale'].apply(trans)

In [41]:
sample.columns

Index(['CampaignID', 'ProspectID', 'productId ', 'Assetclass.Equity',
       'Assetclass.FixedIncome', 'Assetclass.Equity-y',
       'BD Market Cap.101M to 250 M', 'BD Market Cap 101 M to 500M',
       'BD Market Cap 251 M to 500 M', 'BD Market Cap 501 m to 750 M',
       ...
       'State.Utah', 'State.Vermount', 'State. Virgin Islands',
       'State.Virginia', 'State.Washington', 'State.Wast virginia',
       'State.Wisconsin', 'State.Wyoming', 'completedSale', 'New'],
      dtype='object', length=493)

In [42]:
x=sample.iloc[:,3:491]

In [43]:
x

,Assetclass.Equity,Assetclass.FixedIncome,Assetclass.Equity-y,BD Market Cap.101M to 250 M,BD Market Cap 101 M to 500M,BD Market Cap 251 M to 500 M,BD Market Cap 501 m to 750 M,BD Market Cap 51M to 100 M,BD Market Cap 751M to 1B,Book Type.401K,...,State.tennessee,State.Texas,State.Utah,State.Vermount,State. Virgin Islands,State.Virginia,State.Washington,State.Wast virginia,State.Wisconsin,State.Wyoming
0,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
196,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
199,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [44]:
y=sample['New']

In [45]:
y

0      1
1      0
2      1
3      0
4      1
      ..
195    0
196    0
197    1
198    0
199    1
Name: New, Length: 200, dtype: int64

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [47]:
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [63]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred2 = gnb.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, y_pred2)*100)

Accuracy:  37.5

In [62]:
from sklearn.naive_bayes import BernoulliNB
bnb=  BernoulliNB()
bnb.fit(x_train, y_train)
y_pred3 = bnb.predict(x_test)
print("Accuracy: ",metrics.accuracy_score(y_test, y_pred3)*100)

Accuracy:  57.49999999999999

In [51]:
#from sklearn.naive_bayes import MultinomialNB
#mnb = MultinomialNB()
#mnb.fit(x_train, y_train)
#y_pred4 = bnb.predict(x_test)
#print("Accuracy: ",metrics.accuracy_score(y_test, y_pred4))

In [54]:
from sklearn import tree
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

In [57]:
sample2=DecisionTreeClassifier(max_depth=10,random_state=4)
sample2.fit(x_train,y_train)
AdaBoost= AdaBoostClassifier(base_estimator=sample2,n_estimators=300,learning_rate=1)

In [59]:
y_pred=sample2.predict(x_test)
boost_model=AdaBoost.fit(x_train,y_train)

In [61]:
y_pred1=boost_model.predict(x_test)
pred1=metrics.accuracy_score(y_test,y_pred1)
print("accuracy with Ada Boost",pred1*100)

accuracy with Ada Boost 55.00000000000001